<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/rent_car</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">password</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <mapping class="com.savelyeva.model.Address"/>
    <mapping class="com.savelyeva.model.Vehicle"/>
    <mapping class="com.savelyeva.model.Car"/>
    <mapping class="com.savelyeva.model.Lorry"/>
    <mapping class="com.savelyeva.model.City"/>
    <mapping class="com.savelyeva.model.Color"/>
    <mapping class="com.savelyeva.model.Country"/>
    <mapping class="com.savelyeva.model.DrivingLicense"/>
    <mapping class="com.savelyeva.model.Manufacturer"/>
    <mapping class="com.savelyeva.model.Model"/>
    <mapping class="com.savelyeva.model.Person"/>
    <mapping class="com.savelyeva.model.PersonData"/>
    <mapping class="com.savelyeva.model.Rent"/>
    <mapping class="com.savelyeva.model.Role"/>
    <mapping class="com.savelyeva.model.Street"/>
    <mapping class="com.savelyeva.model.Transmission"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>